/* Variable */
:root {
    --red: #E50914;
    --black: #141414;
    --white: #FFFFFF;

    --link: #AAAAAA;
    --linkHover: #FFFFFF;

    --button: rgba(0, 0, 0, 0.5);
    --buttonHover: rgba(255, 255, 255, 0.5);

    --textLight: #FFFFFF;

    --itemHover: rgba(14, 14, 14, 0.6);
}

/* Reset CSS all items */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Base Elements */
body {
    background: var(--black);
    font-family: 'Arial', Times, serif;
    color: var(--white);
}

header .container {
    display: flex;
    flex-direction: row; /* Property default */
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 8px;
    color: var(--red);
    font-family: "Arial Black";
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: var(--link);
    margin-right: 10px;
}

header nav a:hover {
    color: var(--linkHover);
}

/* Main movie */
.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/TheGoodDoctor/background.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.main-movie .description {
    margin-top: 10px;
    margin-bottom: 40px;

}

.main-movie .title {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button {
    background-color: var(--button);
    border: none;
    color: white;

    padding: 15px 30px;
    margin: 0px 7.5px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;

    border-radius: 5px;
}

.button:hover {
    background-color: var(--buttonHover);
    color: black;
}

.button i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.main-movie .container {
    width: 70%;
}

.box-film {
    height: 100%;
    width: 100%;
    display: block;

    max-width: 200px;

    border-radius: 10px;
}

.carrousel-films {
    margin: 5px;
}

.carrousel-films .item {
    border-radius: 10px;
    
    transition: .5s ease all;
    padding-top: 15px;
}

.carrousel-films .item:hover {
    background-color: var(--itemHover);
    transform: scale(1.1);
}

.carrousel-films .carousel-item-description {
    padding-top: 10px;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--link);
}

.carousel-item-description p {
    color: var(--textLight);
}